<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <nav class="navbar">
            <div><a href="#home"><<b>Home</b>></a></div>
            <div><a href="#about-me">About me</a></div>
            <div><a href="#skills">Skills</a></div>
            <div><a href="#portfolio">Portfolio</a></div>
            <div><a href="#сontacts">Contacts</a></div>
        </nav>
        
        <hr>

        <section id="home" class="home">
            <div class="home-info">
                <div class="personal-name">
                    Kucheruk<br>Vladyslav
                </div>
                <div></div>
                <div>
                    <p>Front-End developer <br> 19 years, Kiev</p>
                </div>
                <div></div>
                <div>RU|<b>ENG</b></div>
            </div>
            <img src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="profile image">
        </section>

        <section id="about-me" class="about-me">
            <h2>About me</h2>
            <p>Hi, I'm Vlad – Front-End ReactJS developer from Kiev. 
                I'm interested in design and everything connected with it.</p>
            <p>I'm studying at Taras Schevchenko university.</p>
            <p>Ready to implement excellent projects
                with wonderful people.</p>
        </section>

        <section id="skills" class="skills">
            <h2>Skills</h2>
            <p>I work with technologies such as</p>

            <div>
                <div>
                    <img src="" alt="icon">
                    <p>desc</p>
                </div>
                <div>
                    <img src="" alt="icon">
                    <p>desc</p>
                </div>
                <div>
                    <img src="" alt="icon">
                    <p>desc</p>
                </div>
                <div>
                    <img src="" alt="icon">
                    <p>desc</p>
                </div>
            </div>
        </section>

        <section id="portfolio" class="portfolio">
            <h2>Portfolio</h2>
            <div>
                <h3>Title</h3>
                <img src="" alt="portfolio work">
            </div>
            <div>
                <h3>Title</h3>
                <img src="" alt="portfolio work">
            </div>
            <div>
                <h3>Title</h3>
                <img src="" alt="portfolio work">
            </div>
        </section>

        <section id="сontacts" class="сontacts">
            <div>
                <h2>Contacts</h2>
                <p>Want to chat with me?</p>
                <p>You are welcome!</p>
                <button>Send message</button>
            </div>

            <div>
                <img src="" alt="social network">
                <img src="" alt="social network">
                <img src="" alt="social network">
                <img src="" alt="social network">
            </div>

            <div>
                All right here
            </div>
        </section>
    </div>

</body>
</html>